<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item" data-bs-hover-animate="jello">
            <a href="https://github.com/andrijaJ01" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse" data-toggle="tooltip" data-bs-tooltip="" title="github"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item" data-bs-hover-animate="jello">
            <a href="https://twitter.com/andrijaj01" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse" data-toggle="tooltip" data-bs-tooltip="" title="twitter"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item" data-bs-hover-animate="jello">
            <a href="https://gitlab.com/andrijajovanovic001" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-gitlab fa-stack-1x fa-inverse" data-toggle="tooltip" data-bs-tooltip="" title="gitlab"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item" data-bs-hover-animate="jello">
            <a href="https://andrijajovanovic.ga" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-instagram fa-stack-1x fa-inverse" data-toggle="tooltip" data-bs-tooltip="" title="instagram"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="text-muted copyright">Copyright&nbsp;©&nbsp;Andrija Jovanovic 2021</p>
      </div>
    </div>
  </div>
</footer>
