{% extends "base.html" %}
{% block content %}

<header class="masthead" style="background-image: url(&quot;assets/img/0010.jpg&quot;);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <div class="site-heading">
          <h1 style="margin-top: 1em;">404</h1>
	  <span class="subheading">Page Not Found</span>
	  <a class="btn btn-outline-light" role="button" data-bs-hover-animate="jello" style="margin-top: 2rem;" href="/">To the Home</a>
	</div>
      </div>
    </div>
  </div>
</header>

{% endblock %}
