{% extends "base.html" %}
{% block title %}Pocetna{% endblock %}
{% block content %}

    <header  data-bs-paralax-bg="true" class="masthead " style="background-image: url(&quot;assets/img/pexels1.jpg&quot;);width: 100%;height: 100vh;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <h1 style="margin-top:1em;">Danijelina kuhinjica</h1><span class="subheading">Recepti za svaciji ukus</span><a class="btn btn-light" style="margin-top:1rem" role="button" data-bs-hover-animate="jello"  href="#content">Vise&nbsp;<i class="fas fa-caret-down"></i></a></div>
                </div>
            </div>
        </div>
    </header>

    <div class="container" id="content">
        <div class="row">
            <div class="col-md-10 col-lg-8">
{% for post in posts %}
                <div class="post-preview">
                    <a href="/posts/{{post.slug}}.html">
                        <h2 class="post-title">{{post.title}}</h2>
                        <h3 class="post-subtitle">{{post.summary}}</h3>
                    </a>
                    <p class="post-meta">Posted by&nbsp;<a href="/about.html"><em>{{post.author}} on {{post.date}}</em></a></p>
                </div>
                <hr>
{% endfor %}
{% endblock %}
